.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #34C6CD;
  height: 100%;
  padding: 1%;
  color: #FF9860;
  text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
  margin-bottom: 5%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
